body {
    display: grid;
    grid-template-areas: 
        "header header header"
        "nav nav nav"
        "main main aside"
        "footer footer footer";
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 70px 50px 1fr 70px;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    grid-area: header;
    background-color: #414141;
    color: #fff;
    padding-left: 1em;
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

nav {
    grid-area: nav;
    background-color: #111;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 0.7em 2em;
    font-weight: 400;
}

nav a:hover {
    background-color: #444;
    border-radius: 5px;
}

main {
    grid-area: main;
    background-color: #c6c6c6;
    color: #333;
    padding: 1em;
}

aside {
    grid-area: aside;
    background-color: #fff;
    color: #333;
    padding: 1em;
    border-left: 1px solid #ccc;
}

footer {
    grid-area: footer;
    background-color: #414141;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.1em;
}
